@model LearningCenter.WebSite.Models.IndexModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Learning Center</h1>
    <p class="lead">The place for technology classes.</p>
</div>
<div class="row">
    @*@foreach (var offeredClass in Model.Classes)
    {
        <div class="col-md-4">
            <h2>@Html.ActionLink(offeredClass.Name, "Class", new { id = offeredClass.Id })</h2>
        </div>
    }*@
    
    <@*li>@Html.ActionLink("Register", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@

    <tr>
        <td class="col-md-4">@Html.ActionLink("Class List ----------------", "Class", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</td>
        <td class="col-md-10">@Html.ActionLink("---------------- Your Enrolled Classes          -", "StudentClasses", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</td>
        @*<td class="col-md-12">@Html.ActionLink("---------------- Enroll in a Class", "EnrollInClass", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</td>*@
        <td class="col-md-12">@Html.ActionLink("---------------- Enroll in a Class", "AvailableClasses", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</td>
    </tr>
</div>

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>